/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.float-container {

    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;

}
